#header {
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
    z-index: 10;

    .uk-navbar {
        .uk-navbar-left {
            .uk-logo {
                font-family: Roboto-thin;
                font-weight: 400;
            }
        }
        .uk-navbar-toggle {
            cursor: pointer;
        }
    }
}
#sidenav {
    .uk-offcanvas-close {
        padding-top: 13px;
        padding-right: 0px;
    }
}