@import "common/variables";
@import "common/fonts";
@import "common/layouts";

@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
@import "uikit/src/scss/uikit-theme.scss";

@import "components/header";
@import "components/top";
@import "components/top/eyecatch";

html {
    background: $background-dark;
}
body {
    color: $text-color;
    background: $background-dark;
}