.workcard {
    .skills {
        .skill-large {
            display: inline-block;
            padding: 4px 16px;
            margin-right: 8px;
            font-size: 0.8rem;
            border: 1px solid $foreground;
            border-radius: 50px;
        }
    }
}